.pokemon-grid {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Ajusta o número de colunas automaticamente */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px; /* Espaçamento ao redor da grid */
    margin: auto;
  }

  .pokemon-card {
    border: 1px solid #ccc; /* Borda para cada card */
    padding: 20px; /* Espaçamento interno para cada card */
    text-align: center; /* Centraliza o texto dentro do card */
    background-color: #fff; /* Fundo branco para os cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para os cards */
    border-radius: 12px; /* Bordas arredondadas */
    transition: transform 0.2s; /* Transição suave para efeito de hover */
  }

  .pokemon-card:hover {
    transform: scale(1.05); /* Efeito de aumento no hover */
  }

  .pokemon-card img {
    width: 150px; /* Largura fixa para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Espaçamento inferior entre a imagem e o texto */
  }

  .pokemon-card h2 {
    font-size: 1.5em; /* Ajusta o tamanho do texto */
    margin: 10px 0 0; /* Espaçamento superior entre a imagem e o texto */
    font-weight: bold;
  }

  .pokemon-card .types {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os tipos */
    margin-top: 10px; /* Espaçamento superior para os tipos */
  }

  .pokemon-card .type {
    background-color: #eee; /* Cor de fundo para os tipos */
    border-radius: 12px; /* Bordas arredondadas para os tipos */
    padding: 5px 10px; /* Espaçamento interno para os tipos */
    font-size: 0.9em; /* Tamanho do texto dos tipos */
    color: #333; /* Cor do texto dos tipos */
  }
